OPENAI_TTS_API_ENDPOINT=http://localhost:5005/v1/audio/speech
OPENAI_TTS_MODEL=tts-1
OPENAI_TTS_VOICE=tara
OPENAI_TTS_FORMAT=wav

ENABLE_FASTRTC_AVATAR=false
FASTRTC_STT_MODEL=moonshine/base
FASTRTC_TTS_MODEL=piper
FASTRTC_TTS_GENDER=female
FASTRTC_TTS_LANG=en-us
FASTRTC_TTS_SPEED=1.0
